Repository satnaing/shadcn-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(style): update theme switch button animations
  src/components/theme-switch.tsx
Due: prettier --write, eslint --fix

build(deps): update dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add tailwind stylesheet path to Prettier configuration
  .prettierrc
Due: none

chore: disable react-refresh rule in some routes
  src/routes/_authenticated/errors/$error.tsx
  src/routes/clerk/(auth)/route.tsx
  src/routes/clerk/_authenticated/user-management.tsx
  src/routes/clerk/route.tsx
Due: prettier --write, eslint --fix

chore: disable react-refresh rule in some routes (#265)
  src/routes/_authenticated/errors/$error.tsx
  src/routes/clerk/(auth)/route.tsx
  src/routes/clerk/_authenticated/user-management.tsx
  src/routes/clerk/route.tsx
Due: prettier --write, eslint --fix

fix: tailwind suggestCanonicalClasses warnings
  src/components/data-table/bulk-actions.tsx
  src/features/chats/index.tsx
  src/features/tasks/components/tasks-columns.tsx
  src/features/users/components/users-action-dialog.tsx
  src/styles/index.css
Due: prettier --write, eslint --fix

chore: fix tailwind suggestCanonicalClasses warnings (#266)
  src/components/data-table/bulk-actions.tsx
  src/features/chats/index.tsx
  src/features/tasks/components/tasks-columns.tsx
  src/features/users/components/users-action-dialog.tsx
  src/styles/index.css
Due: prettier --write, eslint --fix

fix(style): update task table column width styling
  src/features/tasks/components/tasks-columns.tsx
  src/features/tasks/components/tasks-table.tsx
Due: prettier --write, eslint --fix

fix(style): update task table column width styling (#267)
  src/features/tasks/components/tasks-columns.tsx
  src/features/tasks/components/tasks-table.tsx
Due: prettier --write, eslint --fix

fix: reset delete confirm values after success
  src/features/tasks/components/tasks-multi-delete-dialog.tsx
  src/features/users/components/users-multi-delete-dialog.tsx
Due: prettier --write, eslint --fix

fix: reset delete confirm values after success (#268)
  src/features/tasks/components/tasks-multi-delete-dialog.tsx
  src/features/users/components/users-multi-delete-dialog.tsx
Due: prettier --write, eslint --fix

refactor: Migrate forms to `@tanstack/react-form` and introduce a new `Field` component.
  package.json
  pnpm-lock.yaml
  src/components/ui/field.tsx
  src/components/ui/label.tsx
  src/components/ui/separator.tsx
  src/features/settings/account/account-form.tsx
  src/features/settings/appearance/appearance-form.tsx
  src/features/settings/display/display-form.tsx
  src/features/settings/notifications/notifications-form.tsx
  src/features/settings/profile/profile-form.tsx
Due: prettier --write, eslint --fix

refactor: migrate form implementations from react-hook-form to TanStack Form and introduce new Field components.
  .prettierrc
  package.json
  src/components/ui/field.tsx
  src/components/ui/form.tsx
  src/components/ui/label.tsx
  src/components/ui/separator.tsx
  src/features/auth/forgot-password/components/forgot-password-form.tsx
  src/features/auth/otp/components/otp-form.tsx
  src/features/auth/sign-in/components/user-auth-form.tsx
  src/features/auth/sign-up/components/sign-up-form.tsx
  src/features/settings/account/account-form.tsx
  src/features/settings/appearance/appearance-form.tsx
  src/features/settings/display/display-form.tsx
  src/features/settings/notifications/notifications-form.tsx
  src/features/settings/profile/profile-form.tsx
  src/features/tasks/components/tasks-import-dialog.tsx
  src/features/tasks/components/tasks-mutate-drawer.tsx
  src/features/users/components/users-action-dialog.tsx
  src/features/users/components/users-invite-dialog.tsx
Due: prettier --write, eslint --fix

user table changes
  .amazonq/rules/coding_rule.md
  eslint.config.js
  src/contracts/Request/index.ts
  src/features/users/components/columns.tsx
  src/features/users/components/data-table.tsx
  src/features/users/components/user-edit-modal.tsx
  src/features/users/components/user-view-modal.tsx
  src/features/users/index.tsx
Due: prettier --write, eslint --fix

fix: use design token for theme preview background
  src/features/settings/appearance/appearance-form.tsx
Due: prettier --write, eslint --fix

perf: fix double-render cycle in useIsMobile hook
  src/hooks/use-mobile.tsx
Due: prettier --write, eslint --fix

first commit
  README.md
Due: prettier --write

main static layout for the tally app
  index.html
  package-lock.json
  package.json
  src/components/layout/app-sidebar.tsx
  src/components/layout/types.ts
  src/components/ui/sidebar.tsx
  src/features/dashboard/index.tsx
  src/features/tasks/components/tasks-provider.tsx
  src/features/tasks/index.tsx
Due: prettier --write, eslint --fix

Create CNAME
  CNAME
Due: none

Create tally-app
  .github/workflows/tally-app
Due: none

Create nextjs.yml
  .github/workflows/nextjs.yml
Due: prettier --write

fix: disable overview tab navigation
  src/features/dashboard/index.tsx
Due: prettier --write, eslint --fix

chore: bump
  app/routes/_authenticated+/tasks+/_index/components/data-table-column-header.tsx
  app/routes/_authenticated+/users+/_layout/components/data-table-column-header.tsx
  biome.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feature: 增加docker的部署方式
  Dockerfile
  README.md
Due: prettier --write

refactor: extract mobile query into a constant
  src/hooks/use-mobile.tsx
Due: prettier --write, eslint --fix

perf: fix double-render cycle in useIsMobile hook (#274)
  src/hooks/use-mobile.tsx
Due: prettier --write, eslint --fix

promotion
  package.json
  pnpm-lock.yaml
  src/components/ui/accordion.tsx
  src/features/growth/data/mock-promotions.ts
  src/features/growth/promotions/components/action-section.tsx
  src/features/growth/promotions/components/json-mirror.tsx
  src/features/growth/promotions/components/promotion-builder.tsx
  src/features/growth/promotions/components/promotion-sheet.tsx
  src/features/growth/promotions/components/promotion-summary.tsx
  src/features/growth/promotions/components/strategy-section.tsx
  src/features/growth/promotions/components/trigger-section.tsx
  src/features/growth/promotions/components/unified-search-picker.tsx
  src/features/growth/promotions/hooks/use-create-promotion.ts
  src/features/growth/promotions/hooks/use-promotions.ts
  src/features/growth/promotions/index.tsx
  src/features/growth/promotions/types.ts
  src/features/growth/promotions/utils/promotion-mapper.ts
  src/hooks/queries/use-catalog.ts
  src/hooks/use-media-query.ts
  src/routeTree.gen.ts
  src/services/catalog.ts
  src/services/promotions.ts
  src/types/growth.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: implement ARVIX Finland MVP dashboard
  src/features/dashboard/index.tsx
Due: prettier --write, eslint --fix

chore: bump
  .serena/.gitignore
  .serena/project.yml
  biome.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

add ingredient and more
  Sample Ingredient Upload.xlsx
  package-lock.json
  package.json
  src/components/layout/app-sidebar.tsx
  src/components/page-title.tsx
  src/config/nav.ts
  src/features/inventory/ingredients/_components/ingredient-import-dialog.tsx
  src/features/inventory/ingredients/_components/ingredients-columns.tsx
  src/features/inventory/ingredients/_components/ingredients-table.tsx
  src/features/inventory/ingredients/index.tsx
  src/features/inventory/stocks/index.tsx
  src/features/menu/products/_components/product-sheet.tsx
  src/features/shops/menu/_components/shop-menu-cells.tsx
  src/features/shops/menu/_components/shop-menu-table.tsx
  src/features/shops/menu/index.tsx
  src/hooks/queries/use-catalog.ts
  src/hooks/queries/use-inventory.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/ops/session/route.tsx
  src/routes/_authenticated/shops/$id/menu.tsx
  src/services/catalog.ts
  src/services/inventory.ts
  src/types/api.ts
  src/utils/format.ts
  yarn.lock
Due: prettier --write, eslint --fix

order history
  CLEAN_DB_SPEC.md
  package.json
  src/features/operations/_components/order-details-sheet.tsx
  src/features/operations/_components/order-history-columns.tsx
  src/features/operations/_components/order-history-table.tsx
  src/features/operations/data/mock-order-history.ts
  src/features/operations/orders/index.tsx
  src/features/shops/menu/_components/shop-menu-table.tsx
  src/types/api.ts
  src/types/orders.ts
Due: prettier --write, eslint --fix

feat: receipt and label sticker printer
  package.json
  src/components/layout/nav-user.tsx
  src/features/operations/_components/order-card.tsx
  src/features/operations/_components/order-details-sheet.tsx
  src/features/operations/_components/receipt-escpos-generator.ts
  src/features/operations/_components/receipt-print-template.tsx
  src/features/settings/printers/index.tsx
  src/lib/escpos.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/settings/printers.tsx
  src/types/global.d.ts
  src/utils/label-printer.ts
  src/utils/printer.ts
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: receipt and label sticker printer
  src/features/operations/_components/order-details-sheet.tsx
  src/features/operations/_components/receipt-escpos-generator.ts
Due: prettier --write, eslint --fix

with inventory and such
  CLEAN_API_SPEC.md
  src/components/layout/data/sidebar-data.ts
  src/config/nav.ts
  src/features/operations/active-carts/index.tsx
  src/features/settings/business/index.tsx
  src/features/settings/financial/components/surcharges-columns.tsx
  src/features/settings/financial/components/surcharges-sheet.tsx
  src/features/settings/financial/index.tsx
  src/features/settings/store/index.tsx
  src/hooks/queries/use-business.ts
  src/hooks/queries/use-carts.ts
  src/hooks/queries/use-inventory.ts
  src/hooks/queries/use-shops.ts
  src/hooks/queries/use-surcharges.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/settings/business.lazy.tsx
  src/services/carts.ts
  src/services/inventory.ts
  src/services/shops.ts
  src/services/surcharges.ts
  src/types/api.ts
  src/types/growth.ts
  src/types/inventory.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml,css})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
