Repository satnaing/shadcn-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

build(deps): bump dependencies to latest stable versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: add tests for handle-server-error
  src/lib/handle-server-error.test.ts
  src/lib/handle-server-error.ts
  vite.config.ts
Due: prettier --write, eslint --fix

refactor: simplify header layout alignment
  src/components/layout/top-nav.tsx
  src/features/apps/index.tsx
  src/features/chats/index.tsx
  src/features/dashboard/index.tsx
  src/features/settings/index.tsx
  src/features/tasks/index.tsx
  src/features/users/index.tsx
  src/routes/_authenticated/errors/$error.tsx
  src/routes/clerk/_authenticated/user-management.tsx
Due: prettier --write, eslint --fix

refactor: simplify header layout alignment (#293)
  src/components/layout/top-nav.tsx
  src/features/apps/index.tsx
  src/features/chats/index.tsx
  src/features/dashboard/index.tsx
  src/features/settings/index.tsx
  src/features/tasks/index.tsx
  src/features/users/index.tsx
  src/routes/_authenticated/errors/$error.tsx
  src/routes/clerk/_authenticated/user-management.tsx
Due: prettier --write, eslint --fix

refactor(search): update props type and enhance a11y
  src/components/search.tsx
Due: prettier --write, eslint --fix

refactor(search): update props type and enhance a11y (#294)
  src/components/search.tsx
Due: prettier --write, eslint --fix

refactor(tailwind): apply canonical logical inset utilities
  src/components/search.tsx
  src/components/skip-to-main.tsx
  src/features/chats/index.tsx
  src/features/settings/appearance/appearance-form.tsx
  src/features/users/components/users-columns.tsx
  src/routes/clerk/(auth)/route.tsx
  src/styles/index.css
Due: prettier --write, eslint --fix

refactor(tailwind): apply canonical logical inset utilities (#295)
  src/components/search.tsx
  src/components/skip-to-main.tsx
  src/features/chats/index.tsx
  src/features/settings/appearance/appearance-form.tsx
  src/features/users/components/users-columns.tsx
  src/routes/clerk/(auth)/route.tsx
  src/styles/index.css
Due: prettier --write, eslint --fix

chore: add workspace settings and extension recommendations
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

chore: add workspace settings and extension recommendations (#296)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

chore(github): add refactor & breaking change types to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore(github): add refactor & breaking change types to PR template (#297)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore(deps): upgrade clerk core 3
  package.json
  pnpm-lock.yaml
  src/routes/clerk/(auth)/sign-in.tsx
  src/routes/clerk/(auth)/sign-up.tsx
  src/routes/clerk/_authenticated/user-management.tsx
  src/routes/clerk/route.tsx
Due: prettier --write, eslint --fix

chore(deps): upgrade clerk core 3 (#298)
  package.json
  pnpm-lock.yaml
  src/routes/clerk/(auth)/sign-in.tsx
  src/routes/clerk/(auth)/sign-up.tsx
  src/routes/clerk/_authenticated/user-management.tsx
  src/routes/clerk/route.tsx
Due: prettier --write, eslint --fix

refactor(showSubmittedData): remove unused comment
  src/lib/show-submitted-data.tsx
Due: prettier --write, eslint --fix

fix(chats): use display name initials for avatar fallback
  src/features/chats/index.tsx
  src/lib/utils.ts
Due: prettier --write, eslint --fix

fix(chats): use display name initials for avatar fallback (#299)
  src/features/chats/index.tsx
  src/lib/utils.ts
Due: prettier --write, eslint --fix

chore(cleanup): remove demo routes and modules outside current scope
  package-lock.json
  src/components/layout/data/sidebar-data.ts
  src/features/apps/data/apps.tsx
  src/features/apps/index.tsx
  src/features/chats/components/new-chat.tsx
  src/features/chats/data/chat-types.ts
  src/features/chats/data/convo.json
  src/features/chats/index.tsx
  src/features/tasks/components/data-table-bulk-actions.tsx
  src/features/tasks/components/data-table-row-actions.tsx
  src/features/tasks/components/tasks-columns.tsx
  src/features/tasks/components/tasks-dialogs.tsx
  src/features/tasks/components/tasks-import-dialog.test.tsx
  src/features/tasks/components/tasks-import-dialog.tsx
  src/features/tasks/components/tasks-multi-delete-dialog.test.tsx
  src/features/tasks/components/tasks-multi-delete-dialog.tsx
  src/features/tasks/components/tasks-mutate-drawer.test.tsx
  src/features/tasks/components/tasks-mutate-drawer.tsx
  src/features/tasks/components/tasks-primary-buttons.tsx
  src/features/tasks/components/tasks-provider.tsx
  src/features/tasks/components/tasks-table.tsx
  src/features/tasks/data/data.tsx
  src/features/tasks/data/schema.ts
  src/features/tasks/data/tasks.ts
  src/features/tasks/index.tsx
  src/routeTree.gen.ts
  src/routes/_authenticated/apps/index.tsx
  src/routes/_authenticated/chats/index.tsx
  src/routes/_authenticated/help-center/index.tsx
  src/routes/_authenticated/tasks/index.tsx
Due: prettier --write, eslint --fix

chore(prettier): add tailwindFunctions for cn/clsx class sorting
  .prettierignore
  .prettierrc
Due: none

refactor: sort tailwind classes in calendar and users-columns
  src/components/ui/calendar.tsx
  src/features/users/components/users-columns.tsx
Due: prettier --write, eslint --fix

chore: remove redundant formatter settings and unused setting
  .vscode/settings.json
Due: prettier --write

refactor: replace classNames with suggested Tailwind canonical classes
  src/components/data-table/faceted-filter.tsx
  src/components/data-table/pagination.tsx
  src/components/data-table/toolbar.tsx
  src/components/data-table/view-options.tsx
  src/components/date-picker.tsx
  src/components/ui/calendar.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/table.tsx
  src/components/ui/tabs.tsx
  src/components/ui/tooltip.tsx
  src/features/apps/index.tsx
  src/features/auth/sign-in/sign-in-2.tsx
  src/features/chats/components/new-chat.tsx
  src/features/settings/account/account-form.tsx
  src/features/settings/appearance/appearance-form.tsx
  src/features/tasks/components/data-table-row-actions.tsx
  src/features/tasks/components/tasks-columns.tsx
  src/features/users/components/data-table-row-actions.tsx
  src/features/users/components/users-columns.tsx
Due: prettier --write, eslint --fix

fix(style): added flex for alignment
  src/routes/clerk/route.tsx
Due: prettier --write, eslint --fix

Use resolvedTheme instead of theme for meta[name=theme-color] update
  src/components/theme-switch.tsx
Due: prettier --write, eslint --fix

add theme-switch test
  src/components/theme-switch.test.tsx
Due: prettier --write, eslint --fix

Add Matrix client CLI
  .env.example
  .gitignore
  docs/matrix-client-cli.md
  package.json
  tools/matrix-client/cli.mjs
  tools/matrix-client/client.mjs
  tools/matrix-client/client.test.js
  vitest.matrix.config.mjs
Due: prettier --write, eslint --fix

Harden Matrix room visibility handling
  tools/matrix-client/client.mjs
  tools/matrix-client/client.test.js
Due: prettier --write, eslint --fix

test: add unit tests for cn utility
  src/lib/utils.test.ts
Due: prettier --write, eslint --fix

fix:新增机器人聊天页面
  .trae/documents/add-ai-chat-menu.md
  src/components/layout/data/sidebar-data.ts
  src/features/ai-chat/components/chat-interface.tsx
  src/features/ai-chat/components/session-list.tsx
  src/features/ai-chat/data/chat-types.ts
  src/features/ai-chat/index.tsx
  src/features/ai-chat/lib/chat-service.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/ai-chat/index.tsx
Due: prettier --write, eslint --fix

feat:应用知识库
  src/components/layout/data/sidebar-data.ts
  src/features/ai-chat/components/chat-interface.tsx
  src/features/app-plaza/components/app-grid.tsx
  src/features/app-plaza/components/avatar-picker.tsx
  src/features/app-plaza/components/create-app-dialog.tsx
  src/features/app-plaza/data/app-types.ts
  src/features/app-plaza/index.tsx
  src/features/knowledge-base/components/create-knowledge-base-form.tsx
  src/features/knowledge-base/components/upload-zone.tsx
  src/features/knowledge-base/data/knowledge-types.ts
  src/features/knowledge-base/index.tsx
  src/features/knowledge-base/lib/knowledge-service.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/app-plaza/index.tsx
  src/routes/_authenticated/knowledge-base/index.tsx
Due: prettier --write, eslint --fix

feat:知识库和应用广场
  src/features/app-plaza/components/avatar-picker.tsx
  src/features/app-plaza/components/create-app-dialog.tsx
  src/features/knowledge-base/components/create-knowledge-base-dialog.tsx
  src/features/knowledge-base/components/create-knowledge-base-form.tsx
  src/features/knowledge-base/components/knowledge-base-grid.tsx
  src/features/knowledge-base/components/upload-zone.tsx
  src/features/knowledge-base/data/knowledge-types.ts
  src/features/knowledge-base/index.tsx
  src/features/knowledge-base/lib/knowledge-service.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml,css})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
